span.ant-input-group.store{
  margin: 0 auto;
  width: 340px;
  display: flex;
  flex-direction: column;
  .store-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
  }
}
.order-btn{
  margin: 10px 0;
  button{
    margin: 0 5px;
  }
}