span.ant-input-group.store{
  margin: 0 auto;
  width: 340px;
  display: flex;
  flex-direction: column;
  .store-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
}
.order-btn{
  margin: 10px 0;
  button{
    margin: 0 5px;
  }
}
.login-page{
  margin: 100px auto;
  display: flex;
  justify-content: center;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 10px;
  width: 250px;
  height: 280px;
  .ant-btn-primary{
    margin-left: 60px;
  }
}